
<mat-drawer-container class="sidebar-container" autosize>
  <mat-toolbar color="primary">
    <mat-toolbar-row class="gap-24">
      <div class="example-sidenav-content">
        <button mat-mini-fab color="basic" (click)="drawer.toggle()" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <span>Simple CRM</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer #drawer class="sidebar-content" mode="side">
    <span>ich bin ein test</span>
  </mat-drawer>


</mat-drawer-container>
